.features {
  text-align: center;
}

.features__promt {
  width: 300px;
  margin: 0 auto;
}

.features__caption {
  @include font-h;
  font-size: 21px;
}

.features__description {
  @include font-p;

  line-height: 26px;
}

.features__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.features-list__item {
  background-color: $bg-grey;

  &--bluebg {
    color: $text-h-light;

    background-color: $bg-blue;
  }
}

.features__heading {
  @include font-h;
  color: inherit;
}

.features__number {
  @include font-p;

  line-height: 21px;
  color: inherit;
}

.features__text {
  @include font-p;

  line-height: 21px;
  color: inherit;
}

.feature__sub-list {
  text-align: left;
  list-style: none;
  background-color: $bg-light;
}

.feature__heading {
  @include font-h;

  margin-top: 29px;
  margin-bottom: 14px;
}

.feature__text {
  @include font-p;

  width: 220px;
  margin: 0;

  line-height: 21px;
}

.features__btn {
  @include btn;
  @include font-btn;
}


