@font-face {
  font-family: $font;
  font-weight: 400;
  font-style: normal;
  src: local("PTSans Regular"), url("../fonts/ptsans.woff2") format("woff2");
}

@font-face {
  font-family: $font;
  font-weight: 700;
  font-style: normal;
  src: local("PTSans Bold"), url("../fonts/ptsansbold.woff2") format("woff2");
}
