$font: "PT Sans";
$font-family: "PT Sans", "Arial", sans-serif;
$text-h-dark: #000000;
$text-h-light: #ffffff;
$text-p-dark: #333333;
$text-p-light: #ffffff;

$bg-light: #ffffff;
$bg-blue: #81b3d2;
$bg-grey: #eeeeee;

$color-btn: #81b3d2;
$text-btn: #ffffff;

$color-input: #f2f2f2;
